.button {
  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 16px 16px 6px 0;
  }
}

.modal {
  &__title {
    font-weight: bold;
    margin-left: 4px;
  }
}
