.presentation {
  &__header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    font-size: 20px;
    padding: 8px 20px;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    &-left {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-title {
      display: flex;
      flex-direction: column;

      & span:first-child {
        font-weight: bold;
      }

      & span:last-child {
        color: #bebebe;
        font-size: 14px;
      }
    }
  }

  &__actions {
    background-color: #fff;
    padding: 12px 20px;
    height: 65px;
  }

  &__main {
    display: flex;
    margin-top: 12px;
    height: calc(100vh - 12px - 135px);
    overflow: hidden;
  }

  &__slide {
    &-content {
      display: flex;
      gap: 12px;
      padding: 12px 16px;
      cursor: pointer;
    }
    &-active {
      background-color: rgb(233, 232, 232);
    }
    &-list {
      background-color: #fff;
      flex: 1;
      overflow: scroll;
    }
    &-delete {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 999;
    }
    &-item {
      background-color: #fff;
      height: 100px;
      width: 100%;
      border: 2px solid #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #757575;
        text-align: center;
        gap: 4px;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-icon {
      font-size: 22px;
      color: #05a3e8;
    }
  }

  &__content {
    flex: 5;
    background-color: #fff;
    margin: 80px 40px;
    padding: 20px 32px;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;

    &-header {
      text-align: center;
      margin-bottom: 40px;
    }

    &-main {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 0 32px 0;

      &-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
      }
    }
  }

  &__badge {
    position: absolute;
    bottom: 24px;
    right: 32px;
  }

  &__collaborator {
    color: rgba(16, 24, 52, 0.75);

    &-item {
      display: flex;
      gap: 12px;
      margin: 20px 0;
      align-items: center;
      font-size: 15px;
    }
  }

  &__customize {
    background-color: #fff;
    flex: 2;
    padding: 28px;
    overflow: scroll;

    &-label {
      font-weight: 500;
      margin-bottom: 8px;
    }

    &-option {
      display: flex;
      gap: 16px;
      font-size: 22px;
      align-items: center;
    }
  }

  &__text-area {
    width: 100%;
    padding: 14px;
    border-color: #ccc;
    border-radius: 4px;
  }
}

.button {
  &__header {
    display: flex;
    gap: 12px;
    font-size: 18px;
  }
  &__share {
    background-color: rgb(219, 220, 225);
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: rgb(180, 181, 184);
      transition: ease-out 0.3s;
    }
  }

  &__primary {
    background-color: #2a518f;
    color: #fff;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: #1b3257;
      transition: ease-out 0.3s;
    }
  }

  &__add-option {
    margin: 16px 0 20px 0;
    width: 100%;
  }
}

.invisible {
  visibility: hidden;
}

.slide {
  &__create-popover {
    padding: 24px 24px;
    width: 500px;
  }

  &__card {
    width: 120px;
    height: 120px;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;

    &-wrapper {
      display: flex;
      gap: 24px;
    }

    & p {
      margin-top: 8px;
    }

    &:hover {
      transition: ease-out 0.1s;
      border: 1px solid #2a518f;
      color: rgb(150, 150, 150);
    }
  }
}
